* {
  box-sizing: border-box;
  font-family: 'Varela Round', sans-serif;
}

body {
  background-color: rgb(20,23,34);
  color: rgb(44,254,213);
  text-align: center;
}

h1 {
  width: 100vw;
}

h3 {
  /* width: inherit; */
}

i {
  font-size: 2em;
}

p {
  color: #ccc;
}

main {
  width: 70vw;
  margin: 0 auto;
}

.project {
  display: flex;
}

.projectimage {
  width: 50%;
}

.projectcontent {
  width: 50%;
}
