* {
  font-family: 'Varela Round', sans-serif;
}

body {
  background-color: rgb(20,23,34);
  color: rgb(44,254,213);
}

h1 {
  width: 100vw;
  text-align: center;
}

h3 {
  width: inherit;
  text-align: center;
}

i {
  font-size: 2em;
}

main {
  width: 70vw;
  margin: 0 auto;
  text-align: center;
}
